body {
    background-color: #f1f7fd;
    margin: 0;
    padding: 0;
    min-height: 99vh;
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px 0px;
    margin: 0;
    gap: 15px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

main {
    flex: 1;
}

.menu-superior {
    display: flex;
    align-items: center;
    background: #eaa4b1;
    list-style: none;
    padding: 0px 0px;
    margin: 0;
    padding: 0px 100px;
    box-sizing: border-box;
    gap: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.menu-superior li:first-of-type {
    margin-left: auto;
}

.btnentrar {
    display: block;
    color: #ffffff;
    padding: 13px 27px;
    text-decoration: none;
    text-align: center;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 36px;
    border-color: #623a25;
    font-family: "Sora", sans-serif;
    font-style: normal;
}

.btnentrar:hover {
    display: block;
    color: #ffffff;
    padding: 13px 27px;
    text-decoration: none;
    background-color: #623822;
    border-radius: 36px;
    text-align: center;
    font-family: "Sora", sans-serif;
}

.btncad {
    display: block;
    color: #ffffff;
    padding: 13px 27px;
    text-decoration: none;
    background-color: #623822;
    border-radius: 36px;
    text-align: center;
    font-family: "Sora", sans-serif;
}

.btncad:hover {
    border-style: solid;
    border-width: 0.5px;
    border-radius: 36px;
    border-color: #623a25;
    background-color: #eaa4b1;
}

.logo_menu {
    font-size: 40px;
    color: #75401d;
    text-align: left;
}

.fthome {
    width: 100%;
}

.container-foto {
    position: relative;
    width: 100%;
    margin-top: 105px;
}

.header-logo {
    width: 212px;
}

.texto-foto {
    position: absolute;
    top: 40%;
    left: 50%;
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 700;
    font-size: 130px;
    font-style: normal;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    margin: 0;
}

.btn-foto {
    position: absolute;
    top: 58%;
    left: 50%;
    font-size: 40px;
    font-family: "Belleza", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: solid #623822;
    padding: 0px 50px;
    border-radius: 36px;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    background-color: #623822;
    margin: 0;
}

.btn-foto:hover {
    background-color: #62382296;
}

.bck-pink {
    background-color: #eaa4b1;
    width: 100%;
    height: 140px;
}

/* footer */
.links-rodape {
    display: flex;
    gap: 80px;
    margin-top: 70px;
    margin-right: 120px;
}

.lista-coluna {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.lista-coluna a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Sora", sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: color 0.3s ease;
}

.lista-coluna a:hover {
    color: #623822;
}

.meu-rodape {
    background-color: #eaa4b1;
    padding: 60px 40px 20px 40px;
    margin-top: 700px;
    font-family: "Sora", sans-serif;
    color: white;
}

.footer-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    width: 200px;
    margin-bottom: 25px;
}

.barra-email {
    width: 250px;
    height: 45px;
    border-radius: 8px;
    border: none;
    background-color: #eed8dc;
    padding-left: 15px;
    color: rgb(0, 0, 0);
    font-family: "Sora", sans-serif;
    outline: none;
}

.barra-email::placeholder {
    color: #827c7f;
    opacity: 1;
    font-size: 16px;
    -webkit-text-fill-color: #827c7f;
}

.btn-assine {
    background-color: #623822;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 11px 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Sora", sans-serif;
    transition: 0.3s;
}

.btn-assine:hover {
    background-color: #ce9f7b;
}

.texto-final {
    font-size: 10px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
}

.linha-gradiente {
    height: 3px;
    background: linear-gradient(90deg, #da627d, #623822);
    border-radius: 2px;
    max-width: 1200px;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 150px;
    margin-right: auto;
}

.linha {
    height: 3px;
    background: rgba(255, 255, 255, 0.151);
    border-radius: 2px;
    border: none;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.xlist {
    margin-right: 70px;
}

/* Best Sellers */

.container-creme {
    background-color: #f6ece4;
    width: 1905px;
    height: 900px;
}

.title {
    font-size: 60px;
    margin-left: 700px;
    margin-top: 54px;
}

.destaque{
    background-color: #ce9f7b;
    padding: 10px 5px;
    border-radius: 36px;
}

.grid-best {
    background-color: #f6ece4;
    width: 1500px;
    height: 400px;
    position: absolute;
    top: 127%;
    left: 10%;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.card-seller {
    max-width: 240px;
    display: flex;
    flex-direction: column;
}

.img-seller {
    background-color: #c8d1d9;
    width: 290px;
    border-radius: 16px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.img-box img {
    max-width: 85%;
    max-height: 85%;
    object-fit: contain;
}

.destaque-best {
    position: absolute;
    bottom: -20px;
    font-family: "Sora", sans-serif;
    left: 0px;
    background-color: #d2a27f;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    padding: 4px 10px;
    border-radius: 12px;
}

.nomeProduto {
    font-family: "Sora", sans-serif;
    font-size: 20px;
}

.avaliacoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.stars {
    width: auto;
    height: 30px;
}

.price {
    color: #785a52;
    font-size: 21.5px;
}

.btn-add {
    background-color: #da627d;
    padding: 10px 55px;
    border-radius: 66px;
    font-family: "Sora", sans-serif;
    font-size: 17px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn-add:hover {
    background-color: #eaa4b1;
    padding: 10px 55px;
    border-radius: 66px;
    font-family: "Sora", sans-serif;
    font-size: 17px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.titlepts{
    font-size: 50px;
    margin-left: 650px;
    margin-top: 54px;
}

.cfn{
    margin-top: 100px;
    margin-left: 200px
}

.grid-pts {
    background-color: #dce3eb;
    width: 1500px;
    height: 400px;
    position: absolute;
    border-radius: 20px;
    margin-top: 25px;
    left: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box-cfn {
    background-color: #dce3eb;
    width: 300px;
    height: 330px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txtpts {
    text-align: center;
    font-size: 20px;
}

.txtpt {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
